<header>
    <div id="header">
    {% include "title.html" %}
    {% include "hdbtns_loggedout.html" %}
    </div>
</header>
{% block content %}
<p class="larget">Signup with Github profile</p>
<form method="POST" action="submit/">{% csrf_token %}
Username: <input type="text" name="username" class="entry">Required. 150 characters or fewer.<br>
Letters, digits and @/./+i-I_ only.<br>
Password: <input type="password" name="password1" class="entry">
<ul>
<li>Your password can't be too similar to your other personal information.</li>
<li>Your password must contain at least 8 characters.</li>
<li>Your password can't be a commonly used password.</li> 
<li>Your password can't be entirely numeric.</li> 
</ul>
Password confirmation: <input type="password" name="password2" class="entry"> Enter the same password as before, for verification.
<br> 
First name: <input type="text" name="fname" class="entry"><br><br>
Last name: <input type="text" name="lname" class="entry"><br>
<button type="submit" class="stdbtn">Signup</button>
<script>
</script>
</form>
{% endblock %}