<style>
    #credits{
    margin-top:5%;
    color:red;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    }
    #header{
        margin:auto;
        text-align: center;
        background-color: #f8f9fa;
    }
    .larget{
        font-family: Arial, Helvetica, sans-serif;
        font-size:60pt;
    }
    .stdbtn{
        font-size: 30pt;
        color:white;
        background-color:#0d6efd;
        border-radius: 5pt;
        padding:5pt;
    }
    p{
        margin:0
    }
    form{
        font-size: 20pt;
        font-family: Calibri;
    }
    .entry{
        font-size:20pt;
    }
</style>
<p id="credits"><b>Built by 200050048 200050119</b></p>
<p class="larget">Welcome to GitHub Profiles!</p>