input[type="text"]{
    font-size:20pt;
    margin:10pt;
}
input[type="password"]{
    font-size:20pt;
    margin:10pt;
}
#credits{
color:red;
font-size: 20pt;
font-family: 'Courier New', Courier, monospace;
}
#header{
    background-color: #f8f9fa;
    margin-left: 2%;
    margin-right: 2%;
}
p,li{
    margin:0;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    font-size: 20pt;
    font-family: Calibri;
}
.entry{
    font-size:20pt;
}
.indented-1{
    padding-left: 10%;
}
.btn.btn-primary.btn-lg{
    font-size: 25pt;
}
span > *{
    padding-top: 0.5%;
    padding-left:2%;
    padding-right:2%;
    margin-bottom: 30pt;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
ul>*{
    margin-left: 2.5%;
}
.spaced-1 > *{
    padding-top: 1%;
    padding-left:2%;
    padding-right:2%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 0.5%;
}