{% extends 'title.html' %}
{% block content %}
<div class="indented-1">
<p class="display-1"><strong>{{first_name}} {{last_name}} (@{{profile_username}})</strong></p>

    <p><em>{{num_followers}} followers<br>
    Profile last updated : {{ last_updated }} </em>
    {% if user.username == profile_username %}
    <a href="/update/">(Update Now)</a>
    {% endif %}
    
    <ul>
        {% for repo,stars in repos.items %}
        <li>{{ repo }} - {{ stars }} stars</li>
        {% endfor %}
    </ul>
    </p>
</div>
{% endblock %}