{% load static %}
<html>
    <head>
        <title></title>
        <link rel="icon" href="{% static 'gp.png' %}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href = "{% static 'Harry.css' %}">
</head>
<body>
<header>
    <div id="header" class="text-center">
    <p id="credits"><b>Built by 200050048 200050119</b></p>
    <p class="display-3"><strong>Welcome to GitHub Profiles!</strong></p>
    {% if user.is_authenticated %}
    <span>    
        <a class="btn btn-primary btn-lg" href="/explore/">Explore</a>
        <a class="btn btn-primary btn-lg" href="/profile/{{user.username}}/">My Profile</a>
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}">Logout</a>
    </span>
    {% else %}
    <span>    
        <a class="btn btn-primary btn-lg" href="/accounts/register/">Signup</a>
        <a class="btn btn-primary btn-lg" href="/accounts/login/">Login</a>
    </span>
    {% endif %}
    </div>
</header>
<br>
<br>
{% block content %}
{% endblock %}
</body>
<script>
    //js to set the TITLE right.
    kw = window.location.href.split("/").slice(-2, -1)[0]
    kw = kw.charAt(0).toUpperCase() + kw.slice(1)
    console.log(kw)
    title = document.querySelector('title')
    title.innerHTML = title.innerHTML + kw
</script>
</html>